<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <label>Name:
    <input id="name_login" type="text" name="name">
  </label>
  <label>email:
    <input id="email_ogin" type="text" name="email">
  </label>
  <label>password:
    <input id="password_ogin" type="text" name="password">
  </label>
<<<<<<< HEAD
  <button>Log In
    <input type="sumbit">
  </button>
=======
  <label>Login
    <input type="sumbit">
  </label>
>>>>>>> ac7bd7e5c2a4b4bc07daa810b06ab2e0d0ad989c
</form>
