<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <label>Name:
    <input id="name_login" type="text" name="name">
  </label>
  <label>email:
    <input id="email_ogin" type="text" name="email">
  </label>
  <label>password:
    <input id="password_ogin" type="text" name="password">
  </label>
  <button>Log In
    <input type="sumbit">
  </button>
</form>
