<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  <label>Name:
    <input id="name" type="text" name="name">
  </label>
  <label>email:
    <input id="email" type="text" name="email">
  </label>
  <label>password:
    <input id="password" type="text" name="password">
  </label>
<<<<<<< HEAD
  <button>Sign Up
    <input type="sumbit">
  </button>
=======
  <label>Submit
    <input type="sumbit">
  </label>
>>>>>>> ac7bd7e5c2a4b4bc07daa810b06ab2e0d0ad989c
</form>

